POSTGRES_DB=access_security
POSTGRES_USER=secuser
POSTGRES_PASSWORD=securepass123

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=pgadminpass

FLASK_ENV=development
ML_TIMEOUT_SEC=120
